.lottery-number-card{
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin: 16px;
    width: 30px;
    border: 1px solid black;
}

.number-label {
    font-size: 16px;
}
.lottery-card-grey {
    background-color: #d9d9d9;
}

.lottery-card-blue {
    background-color: #cfddff;
}

.lottery-card-pink {
    background-color: #ffc2f0;
}

.lottery-card-green {
    background-color: #e0ffea;
}

.lottery-card-yellow {
    background-color: #feffe0;
}