.App {
  text-align: center;
}

.generate-button{
  display: block;
  margin: 10px auto;
  border: 1px solid black;
    padding: 8px;
    background-color: #41b05f;
    font: inherit;
    color: white;
    cursor: pointer;
}

.generate-button:hover  {
  background-color: lightgreen;
  color: black;
}
